.exercism

# Elixir
.exlixir_ls
_build

# Lua

# Python
.venv
__pycache__
.pytest_cache

# Haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
stack.yaml.lock
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Clojure
.cpcache
.lein*
clojure/**/target
